In [8]:
import pandas as pd

# Load the file without a header since it doesn't have one
data_abdullah_awake = pd.read_csv("data/archive (1)/MoamenAwak6.csv", header=None)

# Manually add the missing label column based on the filename
data_abdullah_awake[11] = "Awake"

data_abdullah_awake.head()

,0,1,2,3,4,5,6,7,8,9,10
0,-0.457031,-0.415527,-0.780029,-2.258301,0.518799,-0.152588,60.071635,27.328131,-61.057366,38.97,88.06
1,-0.457275,-0.414307,-0.783691,-1.037598,-0.274658,0.488281,60.071635,27.690093,-61.753177,38.91,88.06
2,-0.455078,-0.416260,-0.789307,-2.014160,0.213623,-0.122070,60.071635,26.604207,-61.753177,38.77,89.92
3,-0.456787,-0.417725,-0.785889,-0.732422,0.274658,0.549316,59.169658,26.061264,-61.927129,38.81,90.04
4,-0.458496,-0.415283,-0.786621,-4.211426,2.685547,-2.685547,59.891239,27.509112,-61.231319,38.71,90.74